<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet"/>
<%= turbo_stream_from @post %>
<%= render @post %>
<turbo-frame id="like_session-<%= @post.id%>">
  <%= render partial: "like_session", post: @post %>
</turbo-frame>
<%= render "comments/comments", post: @post %>
<div>
  <%= button_to "Destroy this post", @post, method: :delete %>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
</div>
